/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Cal Sans';
    src: url('/fonts/CalSans-SemiBold.woff2') format('woff2'),
         url('/fonts/CalSans-SemiBold.woff') format('woff');

    /* Add more formats for better browser compatibility */
  }


pre sourceCode {
    font-size: 13px; /* Adjust the value to your preferred font size */
    white-space: pre-wrap;

  }

/* Change the font size of the sidebar */
.bd-sidebar {
    font-size: 3 px; /* Adjust the value to your preferred font size */
  }

.cover-image-container {
  text-align: center; /* Adjust alignment as needed */
  padding: 40px; /* Adjust padding value as needed */
}

.cover-image-container img {
  max-width: 100%; /* Adjust image size as needed */
  height: auto;
}

.cell {
  font-size: 12px; /* Adjust the value to your preferred font size */
  white-space: pre-wrap;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Cal Sans", Poppins, sans-serif;  
  font-weight: bold;
}